<!DOCTYPE html>
<html lang="pt-br">
<head>
    <base href="/sf-boletos/">
    <!-- <base href="/">  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PWA -São Francisco</title>

    <link rel="stylesheet" href="css/colors.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="manifest" href="manifest.json">

    <!-- <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
    <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyBO8N0CfLu1VKLEOwVfRm5rPIOrg8A7788",
        authDomain: "pwa-notes-ec59a.firebaseapp.com",
        databaseURL: "https://pwa-notes-ec59a.firebaseio.com",
        projectId: "pwa-notes-ec59a",
        storageBucket: "",
        messagingSenderId: "582721320268"
    };
    firebase.initializeApp(config);
    </script> -->

        <!-- AngularJs -->

        <script src="js/angular/angular.min.js"></script>
        <script type='text/javascript' src='js/angular/loading-bar.min.js'></script>
    <script src="js/object.observe.polyfill.js"></script>
    <script src="js/array.observe.polyfill.js"></script>
    
    <!-- <script src="js/push.js"></script> -->

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="BoletoSf">
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png">
    <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#00539f">
    
    <meta name="theme-color" content="#00539f">

</head>
<body class="grey lighten-5 blue-grey-text" ng-app="myApp" ng-controller="myCtrl">
    <header id="header" class="container grey lighten-4" ng-hide="online">
        <!-- <h3>Boletos São Francisco</h3> -->
        <small ng-show="online">com internet</small>
        <small ng-hide="online">sem conexão verifique a internet</small>
    </header>

    <div id="content" class="container grey lighten-4">
        <p>Informe o CPF</p>

        <form  class="row">
            <input type="number" placeholder="CPF" class="col-2 white" ng-model="cpfBenAtual">
            <input type="button" value="+" class="blue-grey white-text col-1" ng-click="buscaBoleto();">
         
        </form>

      
    </div>
    <div style="margin-top: 10px;">

        <ul >
            <li ng-repeat="item in boletos" class="lista-boletos">
                    <!-- <div ng-click="geraPdf(item.nossoNumero);">{{item.vencimento}} - {{item.valor}}</div> -->
                     
                <a href="#"  style="text-decoration: none;" ng-click="imprimir(item.nossoNumero)">
                    {{item.vencimento}} - {{item.valor}}
                </a>

            </li>
        </ul>


    </div>

    <p style="position: absolute; bottom: 0; left: 33%;">sf-boleto-v.1.0.8</p>
</body>

<script src="js/scripts.js"></script>


</html>