<!DOCTYPE html>
<html lang="pt-br">
<head>
    <base href="/sf-boletos/">
    <!-- <base href="/">  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PWA -São Francisco</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="css/colors.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/loading-bar.min.css">
    <link rel="manifest" href="manifest.json">

    <!-- <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
    <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyBO8N0CfLu1VKLEOwVfRm5rPIOrg8A7788",
        authDomain: "pwa-notes-ec59a.firebaseapp.com",
        databaseURL: "https://pwa-notes-ec59a.firebaseio.com",
        projectId: "pwa-notes-ec59a",
        storageBucket: "",
        messagingSenderId: "582721320268"
    };
    firebase.initializeApp(config);
    </script> -->

        <!-- AngularJs -->

        <script src="js/angular/angular.min.js"></script>
        <script type='text/javascript' src='js/angular/loading-bar.min.js'></script>
    <script src="js/object.observe.polyfill.js"></script>
    <script src="js/array.observe.polyfill.js"></script>
    
    <!-- <script src="js/push.js"></script> -->

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="BoletoSf">
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/icons/icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/icons/icon-192x192.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/icons/icon-192x192.png">


    <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#00539f">
    
    <meta name="theme-color" content="#00539f">

</head>

<body class="grey lighten-5 blue-grey-text" ng-app="myApp" ng-controller="myCtrl">
    <header id="header" class="container grey lighten-4" ng-hide="online">
        <!-- <h3>Boletos São Francisco</h3> -->
        <small ng-show="online">com internet</small>
        <small ng-hide="online">sem conexão verifique a internet</small>
    </header>

    <div id="content" class="container" style="background:#7da9d2; text-align: center;">
        <p style="color:white;" ng-hide="!base">Informe CPF/CNPJ</p>
        <p style="color:white;" ng-hide="base">Selecione o produto</p>

        <div ng-hide="base">
                <button type="button" class="btn-opcao-base" ng-click="base = 'ODONTO'">
                        Odonto
                </button>
                <button type="button" class="btn-opcao-base" ng-click="base = 'SAUDE'">
                        Saúde
                </button>
        </div>


        <form  class="row"ng-hide="!base">

   
            <input type="number" placeholder="CPF/CNPJ" class="col-2 white" ng-model="cpfBenAtual">
            <button type="button" class="botao-pesquisar white-text col-1" ng-click="buscaBoleto();">
                    <i class="fas fa-search"></i>
            </button>
            
        </form>
        <span style="color: white;" ng-hide="!base" ng-click="base = ''">voltar</span>
      
    </div>
    <div style="margin-top: 10px;">

        <ul >
            <li ng-repeat="item in boletos" class="lista-boletos">
                    <!-- <div ng-click="geraPdf(item.nossoNumero);">{{item.vencimento}} - {{item.valor}}</div> -->
                     
                <a href="http://oss.saofrancisco.com.br/BoletoSAUDE/GetBoleto/{{cpfBenAtual}}_{{item.nossoNumero}}_0.pdf"  style="text-decoration: none; color: white;" download >
                    <i class="fas fa-file-alt icone-boleto"></i>
                    <h3>{{item.vencimento}}</h3>
                    <p style="margin: 0; padding: 0;">{{item.valor}}</p> 
                </a>

            </li>
        </ul>


    </div>
  
    <p style="position: absolute; bottom: 0; left: 33%;">sf-boleto-v.1.0.11</p>
</body>

<script src="js/scripts.js"></script>


</html>